/* @import url('https://fonts.googleapis.com/css2?family= Poppins: wght @400;500;700 & display=swap'); */

/* * {
    border: solid 2px red;
} */

body {
    background-color: white;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}

.container-cabecalho {
    background: white;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 195, 0);
}

.img-logo {
    max-height: 100%;
    margin-top: auto;
    object-fit: cover;
}

.img-logo>img {
    width: 500px;
    margin: 0px 0px 3px 0px;
    cursor: pointer;
}

.menu-navegacao {
    display: flex;
    background-color: rgb(255, 195, 0);
    gap: 10px;
    margin-top: auto;
    margin-right: 10px;
    max-height: 100%;
}

.menu-navegacao>a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    padding: 13px 6px 9px 6px;
    gap: 5px;
}

.menu-navegacao>a:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 174, 201);
    border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; */
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.menu-navegacao>a>img {
    object-fit: cover;
    overflow: hidden;
    width: 35px;
    height: 35px;
}

/* .menu-navegacao>p {} */

#container-principal {
    margin: 0 auto;
    max-width: 1200px;
    height: 86%;
    display: flex;
    flex-direction: row-reverse;
}

aside {
    height: 97%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 23px;
    gap: 10px;
}

.search-itens {
    display: flex;
    align-items: center;
}

.search-entry {
    background-color: white;
    height: 40px;
    width: 370px;
    text-align: center;
    border: 1px rgb(255, 195, 0);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: rgb(95, 94, 94);
    font-weight: bold;
}

.search-entry:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#button-search {
    height: 43px;
    background-color: rgb(247, 247, 248);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    object-fit: cover;
    overflow: hidden;
    border: 1px rgb(255, 195, 0);
    background-color: rgb(255, 195, 0);
    color: white;
    cursor: pointer;
}

#button-search>img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    overflow: hidden;
    padding: 1px;
}


#button-search:hover {
    background-color: #46C67A;
}

.shopping-cart {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.header-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #46C67A;
    border: 5px solid #46C67A;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.img-titleCart {
    object-fit: cover;
    padding: 10px;
}

/* .titleCart {} */

#empty-cart {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: rgb(247, 247, 248);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: scroll;
}

#empty-cart>h3 {
    text-align: center;
}

#empty-cart>p {
    color: rgb(95, 94, 94);
    font-weight: bold;
    text-align: center;
}

/* #empty-cart ::-webkit-scrollbar-thumb:hover {
    background-color: aquamarine;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
} */

.amount-cart {
    background-color: #46C67A;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.amount-cart>small {
    margin: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.subtotal-cart {
    background-color: #46C67A;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtotal-cart>h3 {
    margin: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.subtotal-cart>p {
    margin-right: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.buttonCheckout-cart {
    background-color: rgb(0, 174, 201);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.buttonCheckout-cart>button {
    background-color: rgb(0, 174, 201);
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: 1px rgb(0, 174, 201);
    cursor: pointer;

}

.buttonCheckout-cart>button:hover {
    color: white;
    background-color: rgb(56, 147, 54);
}

.buttonCheckout-cart:hover {
    color: white;
    background-color: rgb(56, 147, 54);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* .add-itens {} */

.add-itensToCart {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.main-cart {
    display: flex;
    background-color: rgb(247, 247, 248);
    align-items: flex-start;
    margin-left: 15px;
}

.img_main-cart {
    display: flex;
    height: 100px;
    width: 100px;
    object-fit: cover;
    overflow: hidden;
    margin: 10px 10px 0px 0px;
    border-radius: 5px;
}

.texts_main-cart {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.texts_main-cart>h4 {
    margin: 0;
    font-size: 13px;
    margin-top: 10px;
}

.texts_main-cart>small {
    color: rgb(0, 174, 201);
    font-weight: bold;
    font-size: 15px;
}

.removeItemCart {
    border-radius: 5px;
    border: 1px rgb(247, 247, 248);
    cursor: pointer;
    color: rgb(95, 94, 94);
    font-weight: bold;
    font-size: 12px;
}

.extra {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.extra>img {
    object-fit: cover;
}

.container-listaProdutos {
    height: 90%;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-listaProdutos>h2 {
    color: rgb(0, 174, 201);
    font-weight: bolder;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 25px;
}

.listaProdutosUl {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: baseline;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 47%;
    width: 250px;
    background-color: #F7F7F8;
    align-items: center;
    padding: 0 0 10px 0;
    margin: 5px 0 10px 0;
    border-radius: 8px;
    gap: 1px;
}

li:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

li>img {
    object-fit: contain;
    overflow: hidden;
    background-color: white;
    width: 100%;
    height: 50%;
    margin-top: -2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

li>img:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#cart_1,
#cart_2,
#cart_3,
#cart_4,
#cart_5,
#cart_6 {
    box-shadow: none;
}

.tagCategoria {
    color: white;
    background-color: rgb(0, 174, 201);
    margin: 5px;
    padding: 5px;
    font-size: 12px;
}

li>small {
    color: black;
    font-weight: bold;
    margin: 5px;
    font-size: 15px;
}

li>h4 {
    text-align: start;
    margin: 5px;
    font-size: 16px;
}


li>p {
    text-align: center;
    margin: 5px;
    color: rgb(95, 94, 94);
    font-size: 15px;
}

li>button {
    cursor: pointer;
    height: 36px;
    width: 220px;
    background-color: #46C67A;
    border: 5px solid #46C67A;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
}

li>button>img {
    object-fit: cover;
    overflow: hidden;
    margin: 4px 6px 4px 0px;
}


li>button:hover {
    color: white;
    background-color: rgb(56, 147, 54);
    border: 5px solid rgb(56, 147, 54);
}

.redes-sociais {
    width: 100%;
    height: 6%;
    background-color: rgb(0, 174, 201);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.whats {
    display: flex;
    align-items: center;
    gap: 10px
}

.whats>img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.whats>p {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.instagram {
    display: flex;
    align-items: center;
    gap: 10px
}

.instagram>img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.instagram>p {
    font-size: 16px;
    color: white;
    font-weight: bold;
}