/* * {
    border: solid 1px red;
} */

body {
    background-color: white;
    height: 100vh;
    width: 100vw;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

.container-cabecalho {
    background: white;
    height: 8%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background-color: #F8E9A1;
}

.container-cabecalho:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.img-logo {
    max-height: 100%;
    object-fit: cover;
}

.img-logo>img {
    height: 70px;
    margin: 3px 0px 3px 100px;
    cursor: pointer;
}

.menu-navegacao {
    display: flex;
    background-color: #F8E9A1;
    gap: 10px;
    margin-right: 10px;
    max-height: 100%;
}

.menu-navegacao>a {
    text-decoration: none;
    color: #374785;
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 800;
    padding: 13px 6px 9px 6px;
    gap: 5px;
}

.menu-navegacao>a:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 174, 201);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.menu-navegacao>a>img {
    object-fit: cover;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

#container-principal {
    margin: 0 auto;
    max-width: 1200px;
    height: 86%;
    display: flex;
    flex-direction: row-reverse;
}

aside {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.search-itens {
    display: flex;
    align-items: center;
    height: 8.5%;
    margin: 5px;
}

.search-entry {
    background-color: white;
    width: 100%;
    height: 60%;
    text-align: center;
    border: 1px rgb(255, 195, 0);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: rgb(95, 94, 94);
    font-weight: bold;
}

.search-entry:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#button-search {
    height: 65%;
    background-color: rgb(247, 247, 248);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    object-fit: cover;
    overflow: hidden;
    border: 1px rgb(255, 195, 0);
    background-color: #A8D0E6;
    color: white;
    cursor: pointer;
}

#button-search>img {
    height: 70%;
    object-fit: cover;
    overflow: hidden;
    padding: 1px;
    margin: 5px;
}

#button-search:hover {
    background-color: #46C67A;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.shopping-cart {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 60%;
    margin: 10px;
}

.header-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #F76C6C;
    background-color: #F76C6C;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 15%;
}

.img-titleCart {
    object-fit: cover;
}

.titleCart {}

#empty-cart {
    display: flex;
    flex-direction: column;
    height: 50%;
    background-color: rgb(247, 247, 248);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: auto;
}

#empty-cart>h3 {
    text-align: center;
}

#empty-cart>p {
    color: rgb(95, 94, 94);
    font-weight: bold;
    text-align: center;
}

.amount-cart {
    background-color: #A8D0E6;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.amount-cart>small {
    margin: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.subtotal-cart {
    background-color: #A8D0E6;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtotal-cart>h3 {
    margin: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.subtotal-cart>p {
    margin-right: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.buttonCheckout-cart {
    background-color: #F76C6C;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.buttonCheckout-cart>button {
    background-color: #F76C6C;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: 1px #F76C6C;
    cursor: pointer;
}

.buttonCheckout-cart>button:hover {
    color: white;
    background-color: #374785;
}

.buttonCheckout-cart:hover {
    color: white;
    background-color: #374785;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.add-itens {
    display: flex;
    justify-content: flex-start;
}

.add-itens>ul {
    list-style-type: none;
    width: 100%;
}

.add-itensToCart>li {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.add-itensToCart {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.main-cart {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: white;
}

.main-cart>li {}

.img_main-cart {
    display: flex;
    height: 100px;
    width: 100px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
    margin-left: 10px;
}

.texts_main-cart {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 65%;
    margin: 10px;
}

.texts_main-cart>h4 {
    margin: 0;
    font-size: 13px;
    margin-top: 10px;
    color: rgb(11, 34, 57)
}

.texts_main-cart>small {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.removeItemCart {
    border-radius: 5px;
    border: 1px rgb(247, 247, 248);
    cursor: pointer;
    color: rgb(95, 94, 94);
    font-weight: bold;
    font-size: 12px;
    height: 20px;
}

#extra {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}


#extra>img {
    opacity: 0;
    object-fit: cover;
    position: absolute;
    height: 100%;

}

#extra img.slider {
    opacity: 0;
}

#extra img.selecionado {
    opacity: 1;
}

.container-listaProdutos {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title-main {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-main>h2 {
    color: #2779A7;
    font-weight: bolder;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 22px;
}

.container-listaProdutos>h2:hover {
    color: #374785;
    font-weight: bold;
}

.listaProdutosUl {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    align-content: flex-start;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
}

.listaProdutosUl>li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 252px;
    height: 330px;
    background-color: #F7F7F8;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 10px 0;
    margin: 5px 0 10px 0;
    border-radius: 8px;
    margin: 10px;
}

li:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

li>img {
    object-fit: contain;
    overflow: hidden;
    background-color: white;
    width: 100%;
    height: 150px;
    margin-top: -5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

li>img:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#cart_1,
#cart_2,
#cart_3,
#cart_4,
#cart_5,
#cart_6 {
    box-shadow: none;
}

.tagCategoria {
    color: white;
    background-color: #24305E;
    font-size: 12px;
    width: 85%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagCategoria:hover {
    background-color: rgb(0, 174, 201);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

li>small {
    color: black;
    font-weight: bold;
    margin: 5px;
    font-size: 15px;
}

li>h4 {
    text-align: start;
    margin: 5px;
    font-size: 17px;
    color: #DF6C4F;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;

}

li>p {
    text-align: center;
    margin: 5px;
    color: #24305E;
    font-size: 15px;
    font-weight: 500;

}

li>button {
    cursor: pointer;
    height: 36px;
    width: 85%;
    background-color: #46C67A;
    border: 5px solid #46C67A;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
}

li>button>img {
    object-fit: cover;
    overflow: hidden;
    margin: 4px 6px 4px 0px;
}


li>button:hover {
    color: white;
    background-color: rgb(56, 147, 54);
    border: 5px solid rgb(56, 147, 54);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.redes-sociais {
    width: 100%;
    height: 6%;
    background-color: #24305E;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-top: 1px solid white;
}

.whats {
    display: flex;
    align-items: center;
    gap: 10px
}

.whats>img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.whats>p {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.instagram {
    display: flex;
    align-items: center;
    gap: 10px
}

.instagram>img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.instagram>p {
    font-size: 16px;
    color: white;
    font-weight: bold;
}


@media screen and (min-width: 1500px) {
    .menu-navegacao>a {
        font-size: 18px;
    }

}

@media screen and (max-width: 1700px) {

    .img-logo>img {
        height: 50px;
        margin: 0px 0px 0px 100px;
    }
}

@media screen and (max-width: 1500px) {

    .img-logo>img {
        height: 40px;
        margin: 0px 0px 0px 100px;
    }
}

@media screen and (max-width: 900px) {

    .container-cabecalho {
        height: auto;
        flex-direction: column;
    }

    .menu-navegacao {
        flex-direction: column;

    }
}